<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Recordszzzz</title>
    <style>
        .field {
            margin: 16px 0px;
        }

        .error {
            border-color: indianred;
            border-style: solid;
            border-width: 1px;
        }
    </style>
</head>
<body>
<form action="#" th:object="${record}" method="post">
    <div>

        <div class="field">
            <label for="artistName">
                <div>Artist name:</div>
                <input type="text"
                       th:field="*{artistName}"
                       th:errorclass="error"/>
                <div th:if="${#fields.hasErrors('artistName')}"
                     th:errors="*{artistName}">
                    Artist name error
                </div>
            </label>
        </div>

        <div class="field">

            <label for="matrixNumber">
                <div>Matrix number:</div>
                <input type="text"
                       th:field="*{matrixNumber}"
                       th:errorclass="error"/>
                <div th:if="${#fields.hasErrors('matrixNumber')}"
                     th:errors="*{matrixNumber}">
                    Matrix number error
                </div>
            </label>
        </div>

        <div class="field">

            <label for="recordFormat">
                <div>Format:</div>
                <ul>
                    <li th:each>
                        <input type="radio" th:field="*{recordFormat}" />
                    </li>
                </ul>
                <div th:if="${#fields.hasErrors('recordFormat')}"
                     th:errors="*{recordFormat}">
                    Format error
                </div>
            </label>

        </div>

        <div class="field">

            <label for="recordCondition">
                <div>Record condition:</div>
                <select th:field="*{recordCondition}">
                    <option th:each="recordCondition : ${possibleRecordConditions}"
                            th:value="${recordCondition}"
                            th:text="${recordCondition}">Record condition
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('recordCondition')}"
                     th:errors="*{recordCondition}">
                    Record condition error
                </div>
            </label>

        </div>
    </div>

    <input type="submit"/>
</form>
</body>
</html>