<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Recordszzzz</title>
</head>
<body>
<form action="#" th:object="${record}" method="post">
    <div>
        <label for="artistName">
            <div>Artist name:</div>
            <input type="text" th:field="*{artistName}"/>
            <div th:if="${#fields.hasErrors('artistName')}"
               th:errors="*{artistName}">
                Artist name error
            </div>
        </label>
        <label for="recordCondition">
            <div>Record condition:</div>
            <select th:field="*{recordCondition}">
                <option th:each="recordCondition : ${possibleRecordConditions}"
                        th:value="${recordCondition}"
                        th:text="${recordCondition}">Record condition</option>
            </select>
            <div th:if="${#fields.hasErrors('recordCondition')}"
               th:errors="*{recordCondition}">
                Record condition error
            </div>
        </label>
    </div>

    <div>
        <input type="submit"/>
    </div>
</form>
</body>
</html>